<div class="list">
    <ul class="title">
        <li class="item date">Дата начала</li>
        <li class="item plan">Название</li>
        <li class="item participants head">Участников</li>
        <li class="item coach">Тренер</li>
        <li class="item progress">Прогресс</li>
        <li class="item"></li>
    </ul>
    <ul class="list__record" [class.passive]="item.active == false" *ngFor="let item of data">
        <li class="item date">{{ item.date }}</li>
        <li class="item plan">{{ item.plan }}</li>
        <li class="item participants">{{ item.participants }}</li>
        <li class="item coach">{{ item.coach }}</li>
        <li class="item progress">
            <img class="progress__icon" src="../../assets/progress.svg" alt="progress">
            {{ item.progress }}
        </li>
        <li class="item points" mat-button [matMenuTriggerFor]="menu">
            <img class="menu" src="../../assets/menu-points.svg" alt="menu">
            <div class="context">
                <mat-menu #menu="matMenu" yPosition="above" xPosition="before">
                    <button mat-menu-item>
                        <div class="context__item">
                            <img src="../../assets/pen.svg" alt="pen">
                            Редактировать
                        </div>
                    </button>
                    <button mat-menu-item>
                        <div class="context__item">
                            <img src="../../assets/trash.svg" alt="thash">
                            Удалить слот
                        </div>
                    </button>
                </mat-menu>
            </div>
        </li>
    </ul>
</div>