@import '../fields/elements.scss';

.list {
    font-family: $mainFont;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-top: 55px;
    color: rgba(0, 0, 0, 0.87);
    max-width: 1162px;
    width: 100%;
    position: relative;
    ul {
        margin-block-end: 0;
        margin-block-start: 0;
    }
    .menu {
        height: 11px;
    }
    .title {
        color: rgba(0, 0, 0, 0.54);
        display: flex;
        align-items: center;
        padding: 14px 8px;
        list-style: none;
    }
    &__record {
        transition: $animBackGroung;
        display: flex;
        height: 44px;
        align-items: center;
        padding: 14px 8px;
        box-sizing: border-box;
        list-style: none;
    }
}
.list__record:hover {
    background: #f6f6f6;
    border-radius: 4px;
    transition: $animBackGroung;
    cursor: pointer;
}
@mixin col($tab) {
    width: 100%;
    @if $tab == date {
        margin-right: 24px;
        max-width: 87px;
        min-width: 87px;
    } @else if $tab == plan {
        margin-right: 30px;
        max-width: 546px;
        min-width: 118px;
    } @else if $tab == participants {
        margin-right: 32px;
        max-width: 104px;
        min-width: 10px;
    } @else if $tab == coach {
        margin-right: 87px;
        max-width: 48px;
        min-width: 20px;
    } @else if $tab == progres {
        margin-right: 73px;
        max-width: 83px;
        color: rgba(0, 0, 0, 0.54);
    } @else if $tab == points {
        max-width: 32px;
        height: 32px;
    } @else if $tab == icon {
        max-width: 13px;
        margin-right: 7px;
    }
}
.date {
    @include col(date);
}
.plan {
    @include col(plan);
}
.participants {
    @include col(participants);
}
.coach {
    @include col(coach);
}
.progress {
    @include col(progres);
    display: flex;
    align-items: center;
    &__icon {
        @include col(icon);
    }
}
.points {
    @include col(points);
}
.passive {
    color: rgba(0, 0, 0, 0.38);
}
.context {
    &__item {
        display: flex;
        align-items: center;
        height: 36px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: $active;
        transition: color 0.3s ease-out;
        img {
            margin-right: 18px;
        }
    }
    &__item:hover {
        background-color: $hover;
        color: $selected;
        cursor: pointer;
        transition: color 0.3s ease-out;
    }
}
.context.open {
    display: block;
}
@media screen and (max-width: 600px) {
    .list {
        margin-top: 45px;
        .coach {
            display: none;
        }
        .date {
            margin-right: 16px;
        }
        .plan {
            margin-right: 16px;
        }
        .participants.head {
            color: #fff;
        }
        .participants.head::before {
            color: $passive;
            content: "Уч.";
        }
        .points {
            display: none;
        }
        .title {
            font-size: 10px;
        }
    }
}
