@import "../../styles.scss";
$pressedBlue: #dae9ff;
$pressedGrey: #dcdcdc;
// вкладки

.tabs {
    font-family: $mainFont;
    color: $passive;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    position: relative;
    .tab {
        margin-right: 24px;
        height: 34px;
        border-bottom: 2px solid #ffffff;
        transition: color 0.3s ease-out;
        transition: border-color 0.3s ease-out;
    }
    .tab.active {
        color: $active;
        border-bottom: 2px solid $selected;
        transition: color 0.3s ease-out;
        transition: border-color 0.3s ease-out;
    }
    .tab:hover {
        cursor: pointer;
        color: $active;
        border-bottom: 2px solid #1071ff;
        transition: color 0.3s ease-out;
        transition: border-color 0.3s ease-out;
    }
}
.tabs.window {
    margin-top: 22px;
}

// поля

.fields {
    input {
        outline: none;
        border: none;
    }
    .field {
        transition: border-color 0.3s ease-out;
        margin-right: 30px;
        outline: none;
        height: 40px;
        border: none;
        max-width: 166px;
        width: 100%;
        font-family: $mainFont;
        border-bottom: 1px solid $solight;
        display: flex;
        font-weight: 500;
        cursor: pointer;
        &__label {
            font-size: 10px;
            line-height: 12px;
            color: $passive;
            padding-left: 3px;
        }
        &__select {
            border: none;
            outline: none;
            background-color: #ffffff;
            height: 27px;
            font-family: inherit;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            justify-content: space-between;
            &__value {
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
                max-width: 140px;
                width: 100%;
            }
        }
        .options {
            position: absolute;
            top: 48px;
            background: #ffffff;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
            border-radius: 4px;
            width: 180px;
            padding: 8px 0;
            box-sizing: border-box;
            display: none;
            .option {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                display: flex;
                justify-content: space-between;
                height: 36px;
                padding-left: 16px;
                padding-right: 16px;
                align-items: center;
            }
            :hover {
                cursor: pointer;
                color: $selected;
                background-color: $hover;
            }
            :hover::after {
                content: url("../../assets/ok.svg");
            }
            .selectedItem {
                color: $selected;
            }
            .selectedItem::after {
                content: url("../../assets/ok.svg");
            }
        }
        .options.open {
            display: block;
        }
        .options.important {
            z-index: 1000;
        }
    }
    .field:active {
        border-bottom: 1px $selected solid;
    }
    .field:hover {
        transition: border-color 0.3s ease-out;
        border-bottom: 1px $selected solid;
    }
    .field.mini {
        max-width: 246px;
    }
    .field.big {
        max-width: 818px;
        .field__select__value {
            max-width: 818px;
        }
        .options {
            width: 818px;
        }
    }
    .select {
        flex-direction: column;
        position: relative;
    }
}

.round-but {
    border-radius: 50%;
    width: 40px;
    height: 100%;
    transition: $animBackGroung;
    display: flex;
    align-items: center;
    justify-content: center;
}
.round-but:hover {
    cursor: pointer;
    transition: $animBackGroung;
    background-color: $hover;
}
.round-but:active {
    cursor: pointer;
    transition: $animBackGroung;
    background-color: $pressedGrey;
}

.ellipse-but {
    border-radius: 24px;
    padding: 10px 16px;
    box-sizing: border-box;
    transition: $animBackGroung;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ellipse-but.blue:hover {
    cursor: pointer;
    background-color: $blueHover;
    transition: $animBackGroung;
}
.ellipse-but.grey:hover {
    cursor: pointer;
    background-color: $hover;
    transition: $animBackGroung;
}
.ellipse-but.blue:active {
    cursor: pointer;
    background-color: $pressedBlue;
    transition: $animBackGroung;
}
.ellipse-but.grey:active {
    cursor: pointer;
    background-color: $pressedGrey;
    transition: $animBackGroung;
}
.other {
    margin-top: 36px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-family: $mainFont;
    font-size: 12px;
    line-height: 16px;
    color: $passive;
    &__text {
        font-weight: 500;
        margin-right: 94px;
    }
    &__button {
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    &__button:hover {
        cursor: pointer;
    }
    .settings {
        color: $selected;
        margin-right: 41px;
        .filters {
            margin-right: 12px;
            max-width: 13px;
            width: 100%;
        }
    }
}

