@import '../../app/fields/elements.scss';

.container {
    max-width: 1146px;
    margin: 0 auto;
    width: 100%;
}
.other {
    margin-top: 36px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-family: $mainFont;
    font-size: 12px;
    line-height: 16px;
    color: $passive;
    &__text {
        font-weight: 500;
        margin-right: 94px;
    }
    &__button {
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    &__button:hover {
        cursor: pointer;
    }
    .settings {
        color: $selected;
        margin-right: 41px;
        .filters {
            margin-right: 12px;
            max-width: 13px;
            width: 100%;
        }
    }
}
.search {
    &__field {
        margin-left: 18px;
        font-family: $mainFont;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: $active;
    }
    ::placeholder {
        color: rgba(0, 0, 0, 0.38);
    }
    &__icon {
        max-width: 15px;
        width: 100%;
    }
}
.fields {
    margin-top: 56px;
    margin-right: 30px;
    display: flex;
}
.fields.small {
    display: none;
}
@media screen and (max-width: 600px) {
    .container {
        .other {
            display: none;
        }
        .fields {
            display: none;
        }
        .fields.small {
            display: block;
            margin-right: 0;
            margin-left: auto;
            margin-top: 0;
            .field.small {
                max-width: 334px;
                width: 100%;
                margin-top: 34px;
            }
            .search__field {
                width: 280px;
            }
            .options {
                z-index: 1000;
                max-width: 335px;
                width: 100%;
            }
            .field__select__value {
                max-width: 330px;
                width: 100%;
            }
        }
    }
}