<div class="container">
    <div class="tabs">
        <div id="group" class="tab" [class.active]="isActive == 'group'" (click)="select('group')">Групповое</div>
        <div id="person" class="tab" [class.active]="isActive == 'person'" (click)="select('person')">Индивидуальное
        </div>
    </div>
    <div class="filters">
        <div class="fields small">
            <div class="field search small">
                <img class="search__icon" src="../../assets/search.svg" alt="search">
                <input class="search__field" type="text" placeholder="Поиск" />
                <img class="search__icon" src="../../assets/filtersGrey.svg" alt="filters">
            </div>
            <div class="field select small">
                <label class="field__label">Сортировка</label>
                <div class="field__select" (click)="open('sorted')">
                    <input class="field__select__value" readonly [value]="sortedValue" placeholder="Выберите" />
                    <img style="max-width: 11px; width: 100%;" src="../../assets/arrow.svg" alt="">
                </div>
                <div id="sorted" class="options" [class.open]="isOpen == 'sorted'">
                    <div class="option" [class.selectedItem]="isSelected.sorted == 'По прогрессу обучения'"
                        (click)="selectItem('По прогрессу обучения', 'sorted'); isSelected.sorted = 'По прогрессу обучения'">
                        По прогрессу обучения</div>
                    <div class="option" [class.selectedItem]="isSelected.sorted == 'Не по прогрессу обучения'"
                        (click)="selectItem('Не по прогрессу обучения', 'sorted'); isSelected.sorted = 'Не по прогрессу обучения'">
                        Не по прогрессу обучения</div>
                </div>
            </div>
        </div>
    </div>
    <div class="filters">
        <div class="fields">
            <div class="field search">
                <img class="search__icon" src="../../assets/search.svg" alt="search">
                <input class="search__field" type="text" placeholder="Поиск" />
            </div>
            <div class="field select">
                <label class="field__label">Программа</label>
                <div class="field__select" (click)="open('program')">
                    <input class="field__select__value" id="select-program" readonly [value]="programValue"
                        placeholder="Выберите" />
                    <img style="max-width: 11px; width: 100%;" src="../../assets/arrow.svg" alt="">
                </div>
                <div id="program" class="options" [class.open]="isOpen == 'program'">
                    <div class="option" [class.selectedItem]="isSelected.program == 'Все'"
                        (click)="selectItem('Все', 'program'); isSelected.program = 'Все'">Все</div>
                    <div class="option" [class.selectedItem]="isSelected.program == 'Не все'"
                        (click)="selectItem('Не все', 'program'); isSelected.program = 'Не все'">Не все</div>
                </div>
            </div>
            <div class="field select">
                <label class="field__label">Период</label>
                <div class="field__select" (click)="open('period')">
                    <input class="field__select__value" id="select-period" [value]="periodValue" readonly
                        placeholder="Выберите" />
                    <img style="max-width: 11px; width: 100%;" src="../../assets/arrow.svg" alt="">
                </div>
                <div id="period" class="options" [class.open]="isOpen == 'period'">
                    <div class="option" [class.selectedItem]="isSelected.period == 'Июнь 2019'"
                        (click)="selectItem('Июнь 2019', 'period'); isSelected.period = 'Июнь 2019'">Июнь 2019</div>
                    <div class="option" [class.selectedItem]="isSelected.period == 'Не Июнь 2019'"
                        (click)="selectItem('Не Июнь 2019', 'period'); isSelected.period = 'Не Июнь 2019'">Не Июнь 2019
                    </div>
                </div>
            </div>
            <div class="field select">
                <label class="field__label">Статус</label>
                <div class="field__select" (click)="open('status')">
                    <input class="field__select__value" id="select-status" [value]="statusValue" readonly
                        placeholder="Выберите" />
                    <img style="max-width: 11px; width: 100%;" src="../../assets/arrow.svg" alt="">
                </div>
                <div id="status" class="options" [class.open]="isOpen == 'status'">
                    <div class="option" [class.selectedItem]="isSelected.status == 'Все'"
                        (click)="selectItem('Все', 'status'); isSelected.status = 'Все'">Все</div>
                    <div class="option" [class.selectedItem]="isSelected.status == 'Не все'"
                        (click)="selectItem('Не все', 'status'); isSelected.status = 'Не все'">Не все</div>
                </div>
            </div>
        </div>
        <div class="other">
            <div class="other__text">34 сессии</div>
            <div class="other__button settings button">
                <img class="filters" src="../../assets/filters.svg" alt="filters">
                Настроить фильтр
            </div>
            <div class="other__button drop button"
                (click)="periodValue = ''; programValue = ''; statusValue = ''; isSelected.status = ''; isSelected.period = ''; isSelected.program = ''">
                &#10005; Сбросить</div>
        </div>
    </div>
</div>