<div class="container">
    <div class="tabs">
        <div id="group" class="tab" [class.active]="isActive == 'group'" (click)="select('group')">Групповое</div>
        <div id="person" class="tab" [class.active]="isActive == 'person'" (click)="select('person')">Индивидуальное</div>
    </div>
    <div class="filters">
        <div class="fields">
            <div class="field search">
                <img class="search__icon" src="../../assets/search.svg" alt="search">
                <input class="search__field" type="text" placeholder="Поиск" />
            </div>
            <div class="field select">
                <label for="select" class="field__label">Программа</label>
                <div class="field__select" (click)="open('program')">
                    <input class="field__select__value" id="select-program" readonly [value]="programValue" placeholder="Выберите"/>
                    <img style="max-width: 11px; width: 100%;" src="../../assets/arrow.svg" alt="">
                </div>
                <div id="program" class="options" [class.open]="isOpen == 'program'">
                    <div class="option" (click)="selectItem('Все', 'program')">Все</div>
                    <div class="option" (click)="selectItem('Не все', 'program')">Не все</div>
                </div>
            </div>
            <div class="field select">
                <label for="select" class="field__label">Период</label>
                <div class="field__select" (click)="open('period')">
                    <input class="field__select__value" id="select-period" [value]="periodValue" readonly placeholder="Выберите"/>
                    <img style="max-width: 11px; width: 100%;" src="../../assets/arrow.svg" alt="">
                </div>
                <div id="period" class="options" [class.open]="isOpen == 'period'">
                    <div class="option" (click)="selectItem('Июнь 2019', 'period')">Июнь 2019</div>
                    <div class="option" (click)="selectItem('Не Июнь 2019', 'period')">Не Июнь 2019</div>
                </div>
            </div>
            <div class="field select">
                <label for="select" class="field__label">Статус</label>
                <div class="field__select" (click)="open('status')">
                    <input class="field__select__value" id="select-status" [value]="statusValue" readonly placeholder="Выберите"/>
                    <img style="max-width: 11px; width: 100%;" src="../../assets/arrow.svg" alt="">
                </div>
                <div id="status" class="options" [class.open]="isOpen == 'status'">
                    <div class="option" (click)="selectItem('Все', 'status')">Все</div>
                    <div class="option" (click)="selectItem('Не все', 'status')">Не все</div>
                </div>
            </div>
        </div>
        <div class="other">
            <div class="other__text">34 сессии</div>
            <div class="other__button settings">
                <img class="filters" src="../../assets/filters.svg" alt="filters">
                Настроить фильтр</div>
            <div class="other__button drop">&#10005; Сбросить</div>
        </div>
    </div>
</div>