@import "../fields/elements.scss";

.new {
    height: max-content;
    max-width: 860px;
    width: 100%;
    position: absolute;
    padding: 20px 24px;
    box-sizing: border-box;
    right: 0;
    top: 20px;
    z-index: 3;
    background-color: #fff;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.08);
    font-family: $mainFont;
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
        .buttons {
            display: flex;
            max-width: 88px;
            width: 100%;
            justify-content: space-between;
            .button {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
            }
            .cross {
                width: 12px;
            }
            .ok {
                width: 16px;
            }
        }
    }
}
.page {
    display: none;
}
.page.open {
    display: block;
}
.basic,
.people {
    margin-top: 32px;
}
.page.basic.open {
    combobox {
        width: 818px;
    }
}
.settings {
    &__title {
        font-family: $mainFont;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $active;
        margin-top: 52px;
    }
    &__btns {
        display: flex;
        flex-direction: column;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.54);
    }
    .filter {
        max-width: 246px;
        margin-left: 16px;
    }
}
.event {
    margin-top: 26px;
    .head {
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        font-weight: 500;
        .title {
            font-size: 10px;
            line-height: 12px;
            color: $passive;
        }
        .subtitle {
            font-size: 12px;
            line-height: 16px;
            color: $light;
            border-bottom: 1px solid $solight;
            padding-bottom: 7px;
            .type {
                color: $solight;
            }
        }
    }
    .head:not(:first-child) {
        margin-top: 34px;
    }
    .fields {
        margin-top: 34px;
        display: flex;
        justify-content: flex-end;
    }
}
.page.people.open {
    display: flex;
    position: relative;
    .select {
        .check-field {
            margin-left: -8px;
        }
        .title {
            margin-block-end: 0;
        }
        .fields {
            display: flex;
            width: 394px;
            .col {
                display: flex;
                flex-direction: column;
                .filter {
                    margin-top: 34px;
                    max-width: 182px;
                }
            }
            .col:not(:last-child) {
                margin-right: 30px;
            }
        }
        .other {
            &__text {
                margin-right: 34px;
            }
            &__button {
                margin-right: 10px;
            }
            .menu {
                position: relative;
            }
            .options {
                display: none;
            }
            .options.open {
                display: block;
                background: #ffffff;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
                border-radius: 4px;
                padding: 16px 0;
                box-sizing: border-box;
                position: absolute;
                top: 44px;
                width: 168px;
                height: 334px;
                z-index: 100;
                .label {
                    font-style: normal;
                    padding-left: 16px;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 12px;
                    color: $passive;
                }
                ul {
                    padding-inline-start: 0;
                }
                li {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    color: $active;
                    list-style: none;
                    height: 36px;
                    padding-left: 16px;
                    padding-right: 16px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: $animBackGroung;
                }
                li:hover {
                    background-color: $hover;
                    cursor: pointer;
                    color: $selected;
                    transition: $animBackGroung;
                }
                li:active {
                    background-color: $pressedGrey;
                }
                li:hover::after {
                    content: url("../../assets/ok.svg");
                }
                li.selectItem {
                    color: $selected;
                }
                li.selectItem::after {
                    content: url("../../assets/ok.svg");
                }
            }
        }
    }
    .all {
        width: 50%;
        margin-left: 30px;
        .empty {
            border: 1px dashed $solight;
            box-sizing: border-box;
            border-radius: 4px;
            max-width: 394px;
            max-height: 517px;
            height: 100%;
            width: 100%;
            margin-top: 26px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: $light;
            text-align: center;
            background-color: #fff;
            img {
                margin-bottom: 24px;
            }
            div {
                max-width: 317px;
                width: 100%;
            }
        }
    }
    .title {
        color: $active;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
    }
}