<div class="new">
    <div class="title">
        <h4>Планирование</h4>
        <div class="buttons">
            <button class="button round-but">
                <img class="ok" src="../../assets/ok.svg" alt="">
            </button>
            <button class="button round-but" (click)="close(false)">
                <img class="cross" src="../../assets/cross.svg" alt="">
            </button>
        </div>
    </div>
    <tabs [tabs]="['Основное', 'Участники']" (onOpen)="onOpen($event)"></tabs>
    <div class="page basic" [class.open]="isActive == 'Основное'">
        <combobox [label]="'Программа'" [list]="plans"></combobox>
        <div class="settings">
            <h1 class="settings__title">Мероприятие, дата и время проведения</h1>
            <div class="event">
                <div class="head">
                    <h3 class="title">Мероприятие</h3>
                    <div class="subtitle">Главные правила продаж <span class="type">Тренниг</span></div>
                </div>
                <div class="fields">
                    <div class="field mini select">
                        <!-- that's not a true select, i have used usual datepicker with bautiful field -->
                        <label class="field__label">Дата</label>
                        <div class="field__select">
                            <input class="field__select__value" type="date" />

                        </div>
                    </div>
                    <div class="field mini select">
                        <!-- yes, here too -->
                        <label class="field__label">Время</label>
                        <div class="field__select">
                            <input class="field__select__value" type="time" />

                        </div>
                    </div>
                    <combobox [picture]="'../../assets/coach.svg'" [img]="'../../assets/greyArrow.svg'" class="filter" [label]="'Тренер'" [list]="coach"></combobox>
                </div>
            </div>
            <div class="event">
                <div class="head">
                    <h3 class="title">Мероприятие</h3>
                    <div class="subtitle">Главные правила продаж <span class="type">Тренниг</span></div>
                </div>
                <div class="fields">
                    <div class="field mini select">
                        <label class="field__label">Дата</label>
                        <div class="field__select">
                            <input class="field__select__value" type="date" />

                        </div>
                    </div>
                    <div class="field mini select">
                        <label class="field__label">Время</label>
                        <div class="field__select">
                            <input class="field__select__value" type="time" />

                        </div>
                    </div>
                    <combobox [picture]="'../../assets/coach.svg'" [img]="'../../assets/greyArrow.svg'" class="filter" [label]="'Тренер'" [list]="coach"></combobox>
                </div>
            </div>
            <div class="event">
                <div class="head">
                    <h3 class="title">Мероприятие</h3>
                    <div class="subtitle">Главные правила продаж <span class="type">Тренниг</span></div>
                </div>
                <div class="fields event">
                    <div class="field mini select">
                        <label class="field__label">Дата</label>
                        <div class="field__select">
                            <input class="field__select__value" type="date" />
                        </div>
                    </div>
                    <div class="field mini select">
                        <label class="field__label">Время</label>
                        <div class="field__select">
                            <input class="field__select__value" type="time" />
                        </div>
                    </div>
                    <combobox [picture]="'../../assets/coach.svg'" [img]="'../../assets/greyArrow.svg'" class="filter" [label]="'Тренер'" [list]="coach"></combobox>
                </div>
            </div>
            <h3 class="settings__title">Условия записи по коду</h3>
            <div class="settings__btns">
                <radio [name]="'condition'" [list]="forRadio"></radio>
            </div>
        </div>
    </div>
    <div class="page people" [class.open]="isActive == 'Участники'">
        <div class="select">
            <h3 class="title">Доступные участники</h3>
            <div class="fields">
                <div class="col">
                    <search class="filter"></search>
                    <combobox class="filter" *ngIf="selectALot.includes('Должность')" [label]="'Должность'" [list]="['Все', 'Не все']">
                    </combobox>
                    <combobox class="filter" *ngIf="selectALot.includes('Подразделение')" [label]="'Подразделение'"
                        [list]="['Все', 'Не все']">
                    </combobox>
                    <combobox class="filter" *ngIf="selectALot.includes('Город')" [label]="'Город'" [list]="['Все', 'Не все']">
                    </combobox>
                </div>
                <div class="col">
                    <combobox class="filter" *ngIf="selectALot.includes('Группа')" [label]="'Группа'" [list]="['Все', 'Не все']">
                    </combobox>
                    <combobox class="filter" *ngIf="selectALot.includes('Стаж')" [label]="'Стаж'" [list]="['Все', 'Не все']">
                    </combobox>
                    <combobox class="filter" *ngIf="selectALot.includes('Округ')" [label]="'Округ'" [list]="['Все', 'Не все']">
                    </combobox>
                </div>
            </div>
            <div class="other">
                <div class="other__text">42 пользователя</div>
                <div class="menu">
                    <div class="other__button settings ellipse-but blue" (click)="open('settings')">
                        <img class="filters" src="../../assets/filters.svg" alt="filters">
                        Настроить
                    </div>
                    <div class="options" [class.open]="isOpen == 'settings'">
                        <div class="label">Системные поля</div>
                        <ul>
                            <li (click)="pushAtLot('Поиск')" [class.selectItem]="selectALot.includes('Поиск')">Поиск
                            </li>
                            <li (click)="pushAtLot('Группа')" [class.selectItem]="selectALot.includes('Группа')">Группа
                            </li>
                            <li (click)="pushAtLot('Должность')" [class.selectItem]="selectALot.includes('Должность')">
                                Должность</li>
                            <li (click)="pushAtLot('Стаж')" [class.selectItem]="selectALot.includes('Стаж')">Стаж</li>
                        </ul>
                        <div class="label">Дополнительные поля</div>
                        <ul>
                            <li (click)="pushAtLot('Подразделение')"
                                [class.selectItem]="selectALot.includes('Подразделение')">Подразделение</li>
                            <li (click)="pushAtLot('Округ')" [class.selectItem]="selectALot.includes('Округ')">Округ
                            </li>
                            <li (click)="pushAtLot('Город')" [class.selectItem]="selectALot.includes('Город')">Город
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="other__button drop ellipse-but grey">
                    &#10005; Сбросить
                </div>
            </div>
            <div class="check-field">
                <checkbox [name]="'people'" [list]="forCheck" [all]="true"></checkbox>
            </div>
        </div>
        <div class="all">
            <h3 class="title">Участники мероприятия</h3>
            <div class="empty">
                <img src="../../assets/picture.svg" alt="">
                <!-- drag'n'drop says bye -->
                <div>
                    Наполните группу, перетаскивая участников из списка доступных в левой колонке
                </div>
            </div>
        </div>
    </div>
</div>