$mainColor: black; 
@import '../styles.scss';

* {
    margin: 0;
    padding: 0;
}
.main {
    max-width: 1210px;
    margin: 0 auto;
    padding: 10px;
}
.opacity {
    opacity: 0.1;
    pointer-events: none;
}
.visible {
    display: block !important;
}
.hidden {
    display: none;
}
.header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__burger {
        height: 12px;
    }
    &__button {
        color: #1071FF;
        font-family: $mainFont;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }
    :hover {
        cursor: pointer;
    }
}
.navbar {
    max-width: 1146px;
    margin: 16px auto;
    width: 100%;
    &__menu {
        display: flex;
        list-style: none;
        &__item {
            font-family: $mainFont;
            margin-right: 10px;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.54);
        }
    }
}
.container {
    max-width: 1162px;
    width: 100%;
    margin: 0 auto;
}