<div>
  <div class="main" [class.opacity]="openAdd">
    <div class="header">
      <div class="header__burger">
        <img src="../assets/menu.svg" alt="menu">
      </div>
      <div class="header__button ellipse-but blue" (click)="openAdd = true">
        <span>➕ Запланировать</span>
      </div>
    </div>
    <div class="navbar">
      <ul class="navbar__menu">
        <li class="navbar__menu__item">Главная &nbsp;&nbsp;&mdash;</li>
        <li class="navbar__menu__item">Планирование</li>
      </ul>
    </div>
    <div class="container">
      <planning class="planning"></planning>
    </div>
  </div>
  <new-plan class="hidden" [class.visible]="openAdd" (onClose)="onClose($event)"></new-plan>
</div>

<router-outlet></router-outlet>
