
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-app-theme: mat.define-light-theme((
  color: (
    primary: $my-app-primary,
    accent: $my-app-accent,
    warn: $my-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($my-app-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}
$mainFont: 'Montserrat';
$active: rgba(0, 0, 0, 0.87);
$passive: rgba(0, 0, 0, 0.54);
$selected: #1071ff;
$hover: #f6f6f6;
$light: rgba(0, 0, 0, 0.38);
$solight: rgba(0, 0, 0, 0.08);
$blueHover: #f6faff;
$animBackGroung: background 0.3s ease-out;
$pressedBlue: #dae9ff;
$pressedGrey: #dcdcdc;

.round-but {
    transition: $animBackGroung;
    background-color: #fff;
}
.round-but:hover {
    cursor: pointer;
    transition: $animBackGroung;
    background-color: $hover;
}
.round-but:active {
    cursor: pointer;
    transition: $animBackGroung;
    background-color: $pressedGrey;
}

.ellipse-but {
    border-radius: 24px;
    padding: 10px 16px;
    box-sizing: border-box;
    transition: $animBackGroung;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #fff;
}
.ellipse-but.blue:hover {
    cursor: pointer;
    background-color: $blueHover;
    transition: $animBackGroung;
}
.ellipse-but.grey:hover {
    cursor: pointer;
    background-color: $hover;
    transition: $animBackGroung;
}
.ellipse-but.blue:active {
    cursor: pointer;
    background-color: $pressedBlue;
    transition: $animBackGroung;
}
.ellipse-but.grey:active {
    cursor: pointer;
    background-color: $pressedGrey;
    transition: $animBackGroung;
}
.other {
    margin-top: 36px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-family: $mainFont;
    font-size: 12px;
    line-height: 16px;
    color: $passive;
    &__text {
        font-weight: 500;
        margin-right: 94px;
    }
    &__button {
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    &__button:hover {
        cursor: pointer;
    }
    .settings {
        color: $selected;
        margin-right: 41px;
        .filters {
            margin-right: 12px;
            max-width: 13px;
            width: 100%;
        }
    }
}


html, body { height: 100%; }
