.radio {
    .custom-radio {
        position: absolute;
        z-index: 9;
        opacity: 0;
        width: 20px;
        height: 20px;
    }
    .custom-radio + .label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }
    .custom-radio + .label::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../../assets/RadioHover.svg");
        margin-right: 16px;
    }
    .custom-radio:not(:disabled):not(:checked) + .label:hover::before {
        background-image:  url("../../assets/radio.svg");
        cursor: pointer;
    }
    .custom-radio:not(:disabled):active + .label::before {
        background-image: url("../../assets/pressed.svg");
    }
    .custom-radio:checked + .label::before {
        background-image: url("../../assets/RadioActive.svg");
    }
    .custom-radio:disabled + .label::before {
        background-image: url('../../assets/radioDis.svg');
    }
}
.radio:not(:last-child) {
    margin-bottom: 16px;
}