<div class="event">
    <div class="head">
        <h3 class="title">Мероприятие</h3>
        <div class="subtitle">{{ subtitle }} <span class="type">{{ type }}</span></div>
    </div>
    <div class="fields">
        <combobox [withCancel]="true" class="filter" [type]="'date'" [label]="'Дата'" [img]="'../../assets/greyArrow.svg'" [picture]="'../../assets/datepicker.svg'"></combobox>
        <combobox [withCancel]="true" [list]="time" class="filter" [label]="'Время'" [img]="'../../assets/greyArrow.svg'" [picture]="'../../assets/time.svg'"></combobox>
        <combobox [picture]="'../../assets/coach.svg'" [img]="'../../assets/greyArrow.svg'" class="filter" [label]="'Тренер'" [list]="coach"></combobox>
    </div>
</div>