<h1 class="title">
    <img class="icon" src="../../assets/main.svg" alt="">
    Планирование
</h1>
<div class="plans">
    <tabs (onOpen)="onOpen($event)" [tabs]="['Групповое', 'Индивидуальное']"></tabs>
    <div class="group" *ngIf="isActive == 'Групповое'">
        <div class="filters">
            <search class="filter"></search>
            <combobox class="filter" [label]="'Программа'" [list]="['Все', 'Не все']"></combobox>
            <combobox class="filter" [label]="'Период'" [list]="['Июнь 2019', 'Не Июнь 2019']"></combobox>
            <combobox class="filter" [label]="'Статус'" [list]="['Все', 'Не все']"></combobox>
        </div>
        <div class="buttons">
            <div class="text">34 сессии</div>
            <button class="but ellipse-but blue">
                <img src="../../assets/filters.svg" alt="">
                Настроить фильтры</button>
            <button class="but ellipse-but grey">
                <img src="../../assets/cross.svg" alt="">
                Сбросить</button>
        </div>
        <list></list>
    </div>
</div>