<h1 class="title">
    <img class="icon" src="../../assets/main.svg" alt="">
    Планирование
</h1>
<div class="plans">
    <tabs [tabs]="['Групповое', 'Индивидуальное']"></tabs>
    <div class="filters">
        <search class="filter"></search>
        <combobox class="filter" [label]="'Программа'" [list]="['Все', 'Не все']"></combobox>
        <combobox class="filter" [label]="'Период'" [list]="['Июнь 2019', 'Не Июнь 2019']"></combobox>
        <combobox class="filter" [label]="'Статус'" [list]="['Все', 'Не все']"></combobox>
    </div>
    <list></list>
</div>