<div class="datepicker">
    <div class="head">
        <button class="arrow round-but" (click)="goPrev()">
            <img id="prevent" src="../../assets/left.svg" alt="prevent">
        </button>
        <span>{{ this.months[this.month] }}, <span class="year">{{ this.year }}</span></span>
        <button class="arrow round-but" (click)="goNext()">
            <img id="next" src="../../assets/right.svg" alt="next">
        </button>
    </div>
    <table class="days" id="days">
        <tr>
            <td class="week">Пн</td>
            <td class="week">Вт</td>
            <td class="week">Ср</td>
            <td class="week">Чт</td>
            <td class="week">Пт</td>
            <td class="week">Сб</td>
            <td class="week">Вс</td>
        </tr>
        <tr *ngFor="let td of [0, 1, 2, 3, 4, 5]">
            <td *ngFor="let day of arrWeek[td]" (click)="getMyDate(day); setDate(day); selectMyDate(day)" [id]="getMyDate(day)" class="day" [class.current]="getMyDate(day) == curDate" [class.select]="selectDate == getMyDate(day) && notSelect == false">
                <button class="day-but round-but">
                    {{ day }}
                </button>
            </td>
        </tr>
    </table>
</div>