@import '../fields/elements.scss';

.datepicker {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    width: 290px;
    height: 300px;
    position: absolute;
    z-index: 100000;
    .head {
        display: flex;
        justify-content: space-between;
        max-width: 227px;
        margin: 27px auto;
        .arrow {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            outline: none;
            border: none;
        }
    }
    .days {
        display: flex;
        max-width: 258px;
        justify-content: space-between;
        margin: 26px auto;
        flex-direction: column;
        .day {
            width: 34px;
            text-align: center;
        }
    }
}
